<%pagetitle="用户登陆";%>
{include file="header.htm"}
<div class="tool bd">目前位置 ：首页 > 用户登陆</div>
<div class="heng"></div>
<div class="body bd">
	<div class="left box">
	    <div class="title">用户登陆</div>
	    <div class="content">
        <a href="userinfo.aspx">用户资料</a> <a href="mgrorder.aspx">订单管理</a> <a href="member.aspx?act=mess">留言管理</a>
                <form action="" method="post">
                
                </form>
            </div>
	</div>
    <div class="right">
      {include file="right.htm"}
    </div>
    <div class="clear"></div>
</div>
{include file="footer.htm"}