    	<div class="box">
         <div class="title">JoleYe产品介绍</div>
    	<div class="content">
               {$config_site["intro"]}
        </div>
        </div>

        <div class="blank10"></div>
    	<div class="box">
        <div class="title">技术优势</div>
        <div class="content">
&nbsp;在JoleYe成长的初期，会有很多热心的开发者去维护这个项目，他们都是工作在编程的第一线，并有着多年的开发解决问题的经验，JOLEYE一定会更加的强大。
         </div>
        </div>
        
      	<div class="blank10"></div>
    	<div class="box">
        <div class="title">联系方式</div>
        <div class="content link">
           		<dl>
			<dt>联系人：</dt>
			<dd>{$config_site["linkMan"]}</dd>
			<dt>电话：</dt>
			<dd>{$config_site["telphone"]}</dd>
			<dt>手机：</dt>
			<dd>{$config_site["mobile"]}</dd>
			<dt>Email：</dt>
			<dd>{$config_site["email"]}</dd>
			<dt>QQ：</dt>
			<dd>{$config_site["qq"]}</dd>
			<dt>MSN：</dt>
			<dd>{$config_site["msn"]}</dd>
			<dt>银行账号：</dt>
			<dd>{$config_site["banknum"]}</dd>
			<dt>地址：</dt>
			<dd>{$config_site["address"]}</dd>
		</dl>
<div class="clear"></div>
        </div>
        </div>