<?xml version="1.0" encoding="utf-8"?>
<urls>
  <item name="intro"
        path="intro-{0}.aspx"
        page="intro.aspx" 
        query="key=$1"/>
  <item name="listinfo"
        path="listinfo-{0}.aspx"
        page="listinfo.aspx" 
        query="tid=$1"/>
  <item name="viewinfo"
        path="viewinfo-{0}.aspx"
        page="viewinfo.aspx" 
        query="id=$1"/>
  <item name="search"
        path="search-{0}.aspx"
        page="search.aspx" 
        query="tid=$1"/>
  <item name="service"
        path="service-{0}.aspx"
        page="service.aspx" 
        query="key=$1"/>
  <item name="productinfo"
        path="productinfo-{0}.aspx"
        page="productinfo.aspx" 
        query="id=$1"/>
  <item name="appliprog"
        path="appliprog-{0}.aspx"
        page="appliprog.aspx" 
        query="key=$1"/>
  <item name="custom"
        path="custom/{0}.aspx"
        page="custom.aspx" 
        query="key=$1"/>
</urls>
