<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
    <httpModules>
      <add type="JoleYe.URLRewrite.RewriterModule" name="RewriterModule"/>
    </httpModules>
		<pages enableViewState="true" enableSessionState="true" validateRequest="true" enableEventValidation="false"/>
		<httpRuntime maxRequestLength="4096" executionTimeout="1000"/>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
      </compilation>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="Off"/>
	</system.web>
	  <appSettings>
      <add key="dbType" value="1" />
      <add key="msStr" value="server=(local);database=JOLE;Trusted_Connection=yes;" />
      <add key="accStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" />
      <add key="AccessDbPath" value="/App_Data/database.mdb;" />
      <add key="templateSysPath" value="/template/system/" />
      <add key="version" value="1.6" />
      <add key="webpath" value="/1.6/" />
      <add key="allowimgtype" value="jpg|gif|png|pdf|rar|doc|xls|csv" />
      <add key="templatepath" value="template/static" />
      <add key="uploadpath" value="files/upload/" />
      <add key="PreTable" value="JOLE_" />
   </appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
		</modules>
	</system.webServer>
</configuration>
